

body {
    background-color: rgb(173, 255, 255);
}

h1 { 

   font-size: 50px;
    text-align: center;
    color: rgb(13, 135, 51)
 
}

nav {
	position: absolute;
	top: 20px;
	right: 0;	
	width: 100%;
}
nav li {
	display: inline;
	margin: 0 0 0 20px;	
}
nav a {
	text-transform: uppercase;
	color: rgb(36, 160, 40);
	font-weight: bold;
	font-size: 36px;
	text-decoration: none;
	text-align: center;
}

a:hover {
	text-decoration: underline;
	color: rgb(50, 54, 54);
}


img {
    height: 200px;
}

.container {
    display: flex;
}

p {
    font-size: 26px;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
	color: rgb(23, 113, 53);
	font-size: 100px;
	font-weight: bold;
}

.principal {
	padding: 90px;
	height: auto;
	text-align: justify;
    color: rgb(0, 0, 0);
	font-size: 23px;
    font-weight: bold;
}

